@import "../../assets/styles/variables";

.imgProfile{
    border-radius: 50px;
    width: 64px;
    height: 64px;
    background-position: center;
    background-size: cover;
}

.titleProfile{
    width: 100px;
    font-weight: 300;
    text-align: right;
}

.reviews{
    text-align: right;
    margin-top: 10px;
    font-size: 30px;
    color: #E3E3E3;
    @media screen and (max-width:575px) {
        font-size: 20px;
    }
}

.sectionPresentation{
    @media screen and (max-width:944px) {
        flex-direction: column;
    }
}

.profilContainer{
    @media screen and (max-width:944px) {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}

.tagsContainer{
    @media screen and (max-width:765px) {
        flex-wrap: wrap;
    }
}

.toogleContainer{
    @media screen and (max-width:704px) {
        flex-direction: column;
    } 
}

.container{
    @media screen and (max-width:575px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.titleLocation{
    @media screen and (max-width:575px) {
        font-size: 20px !important;
    }
}

.adresseLocation{
    @media screen and (max-width:575px) {
        font-size: 15px;
        margin-top: 5px;
    }
}