.img{
    background: linear-gradient(rgba(90, 90, 90, 0.527),rgba(0, 0, 0, 0.5)), url("../../assets/images/montagne.png");
    height: 223px;
    border-radius: 25px;
    @media screen and (max-width:790px) {
        height: 110px;
    }
}

.containerToogle{
    @media screen and (max-width:790px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container{
    @media screen and (max-width:575px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}