.cardContainer{
    height: 340px;
    width: 340px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}

.title{
    font-size: 18px;
    color: white;
    height: 320px;
    width: 300px;
    margin-left: 20px;
    display: flex;
    align-items: flex-end;
}