@import "../../assets/styles/variables";

.logo{
    height: 68px;
    width: 210px;
}

a{
    text-decoration: none;
    color: $primary;
    font-size: 24px;
    font-weight: 500;
}

.linkActive{
    text-decoration: underline;
}