.contentContainer {
    min-height: 100vh;
}

.errorType{
    font-size: 288px;
    font-weight: 700;
}

.errorMessage{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 182px;
}

.backToHome{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 159px;
    text-decoration: underline;
}